<!DOCTYPE html>
<html lang="es">

        <title> Mercado Liebre </title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel= "stylesheet"/>    
        
        <link rel="stylesheet" href="/css/normalize.css" type="text/css"/>
        <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    
    </head>  
        
    <body>
        <header>
            <div id=logo>
                <img
                  src="/images/logo-mercado-liebre.svg"
                  alt="Mercado Liebre"
                  width="50%"
                />
            </div>

            <div id="search-bar">
                <form action="post">
                    <p>
                        <input type="search"   
                                size="25" 
                                maxlength="50"
                                placeholder="Buscar productos, marcas"/>
                        <button type="button" id="button">
                            <i class="fas fa-search-dollar"></i>
                        </button>
                    </p>
                </form>
            </div>  
                  
            <div id="credito">
                <p><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</p>
            </div>

            <div class="enlaces">
                <ul type="none" >
                    <li><a href="" >Ofertas</a></li>
                    <li><a href="" >Tiendas Oficiales</a></li>
                    <li><a href="" >Vender</a></li>
                    <li><a href="" >Ayuda</a></li>
                </ul>

                <ul type="none" >
                    <li><a href="" >Crea tu cuenta <i class="fas fa-id-card-alt"></i></a></li>
                    <li><a href="" >Ingresa <i class="fas fa-arrow-circle-right"></i></i></a></li>
                    <li><a href="" >Mas compras <i class="fas fa-cart-arrow-down"></i></a></li>
                </ul>
            </div>
            
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>  
            <div>   
                <img src="/images/img-home-banner.jpg" 
                     alt="Banner"
                     width="100%"/>
            </div>
        </header>
        <main >
            <section>
                <h2 class="titular">Basado en tu ultima visita</h2>
                <div class="articulos">
                    <div class="article">
                        <div>
                            <img src="/images/img-cafetera-moulinex.jpg" 
                                alt="Cafetera" 
                            />
                        </div>
                        <div class="logoEnvio">
                            <i class="fas fa-dolly"></i>
                        </div>
                        <div class="information"  width="50%">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% off</p>     
                        </div>
                        
                        <div >
                            <h3 class="name"> Cafetera Moulinex </h3>
                        </div>
                    </div>
                    <div class="article">
                        <div>
                            <img src="/images/img-macbook-pro-2019.jpg" 
                            alt="MacBook" 
                        />  
                        </div>
                            
                        <div class="logoEnvio">
                            <i class="fas fa-dolly"></i>
                        </div>
                        <div class="information"       width="50%">
                            <p class="precio" >$230.000</p>
                            <p class="descuento">20% off</p> 
                        </div>            
                        <div >
                            <h3 class="name"> MacBook Pro 2019 </h3>
                        </div>
                    </div>
                    <div class="article">
                        <div>
                            <img src="/images/img-samsung-galaxy-s10.jpg" 
                            alt="SG-s10" 
                            />               
                        </div>
                        
                        <div class="logoEnvio">
                            <i class="fas fa-dolly"></i>
                        </div>
                        <div class="information"      width="50%">
                            <p class="precio" >$230.000</p>
                            <p class="descuento">20% off</p> 
                        </div>            
                        <div >
                            <h3 class="name"> MacBook Pro 2019 </h3>
                        </div>
                    </div>
                    <div class = "article">
                        <div>
                            <img src="/images/img-tv-samsung-smart.jpg" 
                            alt="SmartTV" 
                        />               
                        </div>
                        <div class="logoEnvio">
                            <i class="fas fa-dolly"></i>
                        </div>
                        <div class="information"     width="50%">
                            <p class="precio" >$230.000</p>
                            <p class="descuento">20% off</p> 
                        </div>            
                        <div >
                            <h3 class="name"> MacBook Pro 2019 </h3>
                        </div>
                    </div>  
                </div>                  
            </section>
            <section>
                <h2 class="titular">Ofertas para ti</h2>
                <div class="articulos">
                    <div class = "article">
                        <div>
                            <img src="/images/img-cafetera-moulinex.jpg" 
                                alt="Cafetera" 
                            />
                        </div>
                        <div class="logoEnvio">
                            <i class="fas fa-dolly"></i>
                        </div>
                        <div class="information"    width="50%">
                            <p class="precio" >$6.770</p>
                            <p class="descuento">40% off</p> 
                        </div>
                        <div >
                            <h3 class="name"> Cafetera Moulinex </h3>
                        </div>
                    </div>
                    <div class = "article">
                        <div>
                            <img src="/images/img-macbook-pro-2019.jpg" 
                            alt="MacBook" 
                        />  
                        </div>
                            
                        <div class="logoEnvio">
                            <i class="fas fa-dolly"></i>
                        </div>
                        <div class="information"   width="50%">
                            <p class= "precio">$230.000</p>
                            <p class="descuento" >20% off</p> 
                        </div>            
                        <div >
                            <h3 class="name"> MacBook Pro 2019 </h3>
                        </div>
                    </div>
                    <div class = "article">
                        <div>
                            <img src="/images/img-samsung-galaxy-s10.jpg" 
                            alt="SG-s10" 
                        >               
                        </div>
                        
                        <div class="logoEnvio">
                            <i class="fas fa-dolly"></i>
                        </div>
                        <div class="information"  width="50%">
                            <p class="precio" >$230.000</p>
                            <p class="descuento">20% off</p> 
                        </div>            
                        <div >
                            <h3 class="name"> MacBook Pro 2019 </h3>
                        </div>
                    </div>
                    <div class = "article">
                        <div>
                            <img src="/images/img-tv-samsung-smart.jpg" 
                            alt="SmartTV" 
                        />               
                        </div>
                        <div class="logoEnvio">
                            <i class="fas fa-dolly"></i>
                        </div>
                        <div class="information" width="50%">
                            
                            <p class="precio" >$230.000</p>
                            <p class="descuento">20% off</p> 
                        </div>            
                        <div >
                            <h3 class="name"> MacBook Pro 2019 </h3>
                        </div>
                    </div>
                </div>
                 
            </section>
        </main>
        <footer>
            <section>
                <div class="icons">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h2 class="titular">Pago con tarjeta o en efectivo</h2>
                <p class="textofooter">
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta 
                    o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </section>
            <section>
                <div class="icons">
                    <i class="fas fa-gift"></i>
                </div>
                <h2 class="titular">Envio gratis desde $ 2.500</h2>
                <p class="textofooter">
                    Solo por estar registrad@ en Mercado Liebre tenés envíos 
                    gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </section>
            <section>
                <div class="icons">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h2 class="titular">Seguridad, de principio a fin</h2>
                <p class="textofooter">
                    ¿No te gusta?¡Devolvelo! En Mercado Liebre, no hay nada que
                    no puedas hacer, porque estás siempre protegid@.
                </p>
            </section>
            <section>
                <p>Copyright &#169 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </footer>
    
    </body>

</html>
