<!DOCTYPE html>
<html lang="es">
    <head>
        <title> Mercado Liebre </title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel= "stylesheet"/>    
        
        <link rel="stylesheet" href="/css/normalize.css" type="text/css"/>
        <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    
    </head> 
    
    <header>
        <div id="logo-search">
            <div id="logo">
                <img
                  src="/images/logo-mercado-liebre.svg"
                  alt="Mercado Liebre"
                />
            </div>

            <div id="search-bar">
                <form>
                    <input type="text"   
                            placeholder="Buscar productos, marcas..."
                            />
                    <button type="button" id="button">
                        <i class="fas fa-search-dollar"></i>
                    </button>
                </form>
            </div>

            <div id="credito">
                <p><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</p>
            </div>
        </div>    

        <div class="enlaces">
            <ul type="none" >
                <li><a href="" >Ofertas</a></li>
                <li><a href="" >Tiendas Oficiales</a></li>
                <li><a href="" >Vender</a></li>
                <li><a href="" >Ayuda</a></li>
            </ul>

            <ul type="none" >
                <li><a href="/register" >Crea tu cuenta <i class="fas fa-id-card-alt"></i></a></li>
                <li><a href="/login" >Ingresa <i class="fas fa-arrow-circle-right"></i></i></a></li>
                <li><a href="" >Mas compras <i class="fas fa-cart-arrow-down"></i></a></li>
            </ul>
        </div>
        
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>  

    </header>
    <body class="register">
        <form action="/register" method="POST">
            <label for="Nombre">Registro de usuario</label>
            <input type="text" name="Nombre"  placeholder="Nombre y apellido"/>
            <input type="text" name="NombreDeUsuario"  placeholder="Nombre de usuario@"/>

            <input type="date" name="Nacimiento"  value="AAAA-MM-DD"/>
            
            <input type="textarea" name="Domicilio"  placeholder="Domicilio"/>
            
            <label for="TipoUsuario">Tipo de perfil:</label>
            <select name="TipoUsuario" placeholder="Perfil" id="TipoUsuario">
                <option value="Vender">Vender</option>
                <option value="Comprar" selected>Comprar</option>
            </select>

            <label for="interes">Categorias de interés</label>
            <input type="checkbox" name="interes" value="electro" id=electro/>
            <label for =electro>Electro</label>

            <input type="checkbox" name="interes" value="moda" id=moda/>
            <label for =moda>Moda</label>

            <input type="checkbox" name="interes" value="hogar" id=hogar/>
            <label for =hogar> Hogar</label>

            <input type="checkbox" name="interes" value="jugeteria" id=jugeteria/>
            <label for =jugueteria> Jugueteria</label>

            <input type="checkbox" name="interes" value="vidaSana" id=vidaSana/>
            <label for =vidaSana>Vida sana</label>
            
            <label for =userImage>Imagen del usuario</label>
            <input type="file" name="userImage" accept=".jpg">
            <label>Contraseña</label>
            <input type="password" name=password  min=10 required> 
            <label>Confirma tu contraseña</label>
            <input type="password" name=confirm required >
            
            <input type="reset" value="Vaciar"></input>
            <input type="submit" value="Enviar"></input>
        </form>
    </body>    
</html>