<!DOCTYPE html>
<html lang=en>
    <head>
        <title>TEST Adaptativo </title>
        <meta charset="UTF-8"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
                    
        <link rel="stylesheet" href="/css/normalize.css" type="text/css"/>
        <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    </head>
    <body>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Duis faucibus sagittis elit ac porttitor. Aenean ac 
                varius est. Donec laoreet interdum felis et gravida. 
                Suspendisse laoreet dapibus tellus in commodo. Proin 
                eget tortor sem. Phasellus aliquet finibus felis, 
                vel hendrerit lacus condimentum quis. Vestibulum ante 
                ipsum primis in faucibus orci luctus et ultrices posuere 
                cubilia curae; Nulla sed mi odio. Pellentesque non dolor posuere, 
                ultrices diam id, sagittis urna. Praesent sollicitudin, ipsum 
                non luctus lobortis, tortor augue euismod purus, quis maximus 
                ipsum lorem quis neque. Nunc venenatis purus nec libero ornare,
                a tempus velit finibus. Curabitur ligula mi, sodales et dui 
                posuere, rutrum pellentesque nisl.
            </p>
        </div>
        <div id="segundo">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Duis faucibus sagittis elit ac porttitor. Aenean ac 
                varius est. Donec laoreet interdum felis et gravida. 
                Suspendisse laoreet dapibus tellus in commodo. Proin 
                eget tortor sem. Phasellus aliquet finibus felis, 
                vel hendrerit lacus condimentum quis. Vestibulum ante 
            </p>
        </div>

    </body>

</html>