*{
    font-family: 'Roboto', sans-serif;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

header{
    background-color:#EAC926;
    width:100%
}


#logo-search{
    display:flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
}

#logo{
    width:45%;}

#search-bar{
    margin: 10px;
    padding: 0px;
    overflow: hidden;
    width:45%;
}


#credito{text-align: center;}

html .register form{
    display: flex;
    align-items: center; 
    flex-direction: column;
}
html .login form{
    display: flex;
    align-items: center; 
    flex-direction: column;
}

/*commentario*/
form{
    display: flex;
    align-items: flex-end;
}

form input[type=text] {
    padding: 3px;
    border: none;
    margin-top: 8px;
    margin-right: 1px;
    width: 80%;
  }
form input[type=button]{
    width: 10%;
}


.enlaces{
    display:flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

.enlaces ul{
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.enlaces ul li{
    padding: 5px;
}

a{
    text-align: left;
    color: #050505;
    text-decoration: none;
    font-size:12px;
}


main{
    align-content: center;
    background-color:#ebebeb;
    width: 100%;
    margin: 0 auto;
}

main section{
    align-content: center;
}
main section .titular{
    width:100%;
    font-size:4vw;
    text-align: left;
    padding-top:15px;
    padding-bottom:15px;
    padding-left: 30px;
}

main section .articulos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;
    justify-content: space-around;
   
}

main section .article{
    padding: 15px;
    text-align: left;
    margin: 0px 5px 0px 5px;
    border-top: 1px solid #ebebeb;
    font-size: 18px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    gap:10px;
    width:100%;
    background-color: #FFF;
}

main section .article img{
    width: 100%;
}

main section .article .logoEnvio {
    color:#39b54a;
    font-size: 22px;
    align-self: flex-end;
    justify-content: center;
    width: 100%;
}

main section .article .information{
    display:flex;
    justify-content: left;
    gap: 10%;
    align-items: baseline;
    width: 100%
}

main section .article .information .precio{
    font-size: 1em;
    width: 100%;
}

main section .article .information .descuento{
    font-size: 0.89em;
    color:#39b54a;
    width: 100%;
}

main section .article div h3{
    font-size: 1em;
    width:  100%;
}
footer{
    background-color:#FFFFFF;  
    width: 100%;
}

p{font-size:12px;}




.icons{
    padding-top: 10%;
    text-align: center;
    color:#1259c3;
    font-size:30px;
}


.burger-menu{
    background-color:#1259c3;
    text-align: center;
    color:#FFFFFF;
}


.textofooter{text-align:center;}


 

@media (max-width: 360px){
     body main section .article div h3{display:none;}
     body header .enlaces{display:none;}
     main section .article{width:90%;}
}

@media (min-width:361px){
    body main section .article {box-shadow: 0px 0px 10px rgb(100,100,100);}
    body header .burger-menu{display:none;}
}

@media (min-width:481px) and (max-width:768px){
    #logo-search div{width: 30%;}
    main section .article{width:45%;}
}

/*any laptop to desktop*/
@media (min-width: 769px){
    #logo-search div{width: 30%;}
    main section .article{width:22%;}
}